
/* root style here for App() */


#root {
  height: 140vh;
  width: 100%;
  display: flex;
}

body {
  height: 140vh;
  cursor: default;
  background-color: var(--background-color) ;
  color: var(--text-color);
}



/* Montserrat for headers */
#title {
  font-family:"Montserrat", serif; ;
  color: var(--heading-color);
}

#editorContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(20,5%);
}

#logoContainer {
  grid-column: 2/5;
  grid-row: 1/2;
  font-size: 2.5rem;
}

#userInfoContainer, #userHistoryContainer {
  border: solid 1px;
  padding: 1.2rem;
  background-color: var(--container-color);

}

#userInfoContainer {
  grid-column: 2/10;
  grid-row: 4/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userHistoryContainer {
  display:flex;
  flex-direction: column;
  grid-column: 2/10;
  grid-row: 13/19;
}

@keyframes slide-in {
  from {
    translate: 10%;
  }

  to {
    translate: 0 -10%;
    scale: 100% 1;
  }
}

@keyframes grow {
  50% {
    transform: scale(1.1);
  }

}

@keyframes font-ease {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


.activePanel {
  animation-duration: 1s;
  animation-name: font-ease;
}

.experienceInputContainer {
  flex: 1;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.experienceInput , .jobSummary {
  flex: 1;
  width: 100%;
  resize: none; 
  overflow-wrap: break-word; 
  text-align: left; 
  vertical-align: top; 
  line-height: 1.5; 
}


#userWorkContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activeworkPanel {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  width: 100%;
}

.activeWorkPanelInformationContainer {
  grid-column: 3/8;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activeWorkPanelSubmitContainer {
  grid-column: 8/11;
  grid-row: 1/11;
}

.activeworkPanelTop, .activeworkPanelBottom {
  width: 100%;
  flex: 1;
}

.activeworkPanelTop div{
  display: flex;
  width: 100%;
}

.jobSummaryContainer {
  width: 100%;
  height: 100%;
}

.jobHistoryContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.historyPanelContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%) ;
}

.workHistoryTopContainer {
  grid-row: 1/4;
  grid-column: 2/10;
  display: flex;
}

.workHistoryTopRight {
  flex: 1;
  justify-content: flex-start;
}

.workHistoryTopLeft {
  flex: 1;
  justify-content: flex-end;
}

.workHistoryBottomContainer {
  grid-row: 4/11;
  grid-column: 2/10;
  margin: 1%;

}

.workInput {
  width: 80%;
}

.jobSummary {
  width: 100%;
}

#companyTxt {
  font-weight: 600;
}

.userIcons {
  width: 1.8rem;
  height: auto;
  margin-top: 10%;
}

.editIcons {
  width: 1.4rem;
  height: auto;
  margin-top: 10%;
}

.addworkBtnContainer {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
}
.addworkBtn {
  height: 50%;
  font-weight: 800;
  background-color: var(--highlight-accent);
}

.addworkBtn:hover {
  background-color: var(--highlight-accent-alt);
}

.activePanel {
  flex-grow: 4;
  display: flex;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}


.nonActivePanel {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2%;
}

.nonactiveworkPanel {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--border-color) ;
}

.workInfoPreviewTxt {
  width: 25%;
}

#testHistory {
  border-bottom: solid black 1px ;
}

.userHistoryHeaders {
  font-size: 1.2rem;
  justify-content: center;

}


.infoInput {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#resumeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controlsContainer {
  width: 100%;
  height: 5%;
}

#backbtn {
  background-color: rgb(201, 201, 201);
}

#backbtn:hover {
  background-color: rgb(151, 151, 151);
}

.controlsButtons {
  display: flex;
  justify-content: flex-end;
}

#resumePreviewContainer {
  min-width: 37.1875rem;
  max-width: 37.1875rem;
  height: 52.625rem;  
  border: solid black 1px;
  display: flex;
  font-family: "Roboto Slab", serif;
  color: rgba(0, 0, 0, 0.801);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#resumeMarginContainer {
  font-size: 0.75rem;
  flex: 1;
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: repeat(20,5%);
}

#resumeHeaderContainer, #resumeSummaryContainer, #resumeWorkContainer,
#resumeEducationContainer, #resumeSkillsContainer {
  grid-column: 1/6;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#resumeHeaderContainer {
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.resumeHeaders {
  font-size: 1rem;
  padding-bottom: 1%;
  border-bottom: solid black 1px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}



#headerName {
  font-size: 1.75rem;
  font-family: "Roboto", serif;;
}

#titleName {
  margin-bottom: 2%;
}

#contactInfo {
  width: 100%;
  gap: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.5);
}

#resumeSummaryContainer {
  grid-row: 4/7;
}

#resumeWorkContainer {
  grid-row: 7/16;
}

#resumeEducationContainer {
  grid-row: 16/19;
}

#resumeSkillsContainer {
  grid-row: 19/21;
}


/* minimize */
@media (max-width: 1300px) {
  #resumePreviewContainer {
    width: 100%;
  };
}

/* tablet mobile */
@media (max-width: 1000px) {
  #root {
    flex-direction: column;
    height: 260vh;
  }

  #body {
    height: 260vh;
  }
}



