
/* root style here for App() */


#root {
  height: 140vh;
  width: 100%;
  display: flex;
}

body {
  height: 140vh;
  cursor: default;
  background-color: var(--background-color) ;
  color: var(--text-color);
}



/* Montserrat for headers */
#title {
  font-family:"Montserrat", serif; ;
  color: var(--heading-color);
}

#editorContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(20,5%);
}

#logotxtContainer {
  grid-column: 2/5;
  grid-row: 1/3;
  font-size: 2.5rem;
  display: flex;
}

#logoContainer {
  flex: 1;
  margin-top: 10%;
  margin-right: 20%;
}

#logopng {
  height: 50%;
}

#userInfoContainer, #userHistoryContainer {
  border: solid 1px;
  padding: 3rem;
  background-color: var(--container-color);
}

#userInfoContainer {
  grid-column: 2/10;
  grid-row: 4/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userHistoryContainer {
  display:flex;
  flex-direction: column;
  grid-column: 2/10;
  grid-row: 13/19;
}

#userSkillsContainer {
  display: flex;
  grid-column: 2/10;
  grid-row: 19/21;
  justify-content: center;
  align-items: center;
}

#userSkillsInner {
  flex: 1;
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skillBtnContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

#addSkill {
  display: flex;
  align-items: center;
}

@keyframes slide-in {
  from {
    translate: 10%;
  }

  to {
    translate: 0 -10%;
    scale: 100% 1;
  }
}

@keyframes grow {
  50% {
    transform: scale(1.1);
  }

}

@keyframes font-ease {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


.activePanel {
  animation-duration: 1s;
  animation-name: font-ease;
}

.experienceInputContainer {
  flex: 1;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.experienceInput , .jobSummary {
  flex: 1;
  width: 100%;
  resize: none; 
  overflow-wrap: break-word; 
  text-align: left; 
  vertical-align: top; 
  line-height: 1.5; 
}

.experienceInput {
  font-size: larger;
}


#userWorkContainer, #userEducationContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activeworkPanel, .activeeducationPanel {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  width: 100%;
  height: 100%;
}

.activeWorkPanelInformationContainer, .activeeducationPanelTop {
  grid-column: 3/8;
  grid-row: 1/11;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.activeWorkPanelSubmitContainer, .activeEducationPanelSubmitContainer {
  grid-column: 8/11;
  grid-row: 1/11;
}

.activeworkPanelTop, .activeworkPanelBottom, .activeeducationPanelTop {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.activeworkPanelTop div{
  display: flex;
  width: 100%;
}

.jobSummaryContainer {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}



.jobHistoryContainer, #educationHistoryContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.historyPanelContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%) ;
}

.educationPanelContainer {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.schoolContainer, .locationContainer {
  flex: 1;
  display: flex;
  gap: 5%;
}

.locationContainer {
  justify-content: flex-end;
}

.schoolmajor, .locationdate {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.locationdate {
  justify-content: flex-end;
}

.workHistoryTopContainer {
  grid-row: 1/4;
  grid-column: 2/10;
  display: flex;
}

.workHistoryTopRight {
  flex: 1;
  justify-content: flex-start;
}

.workHistoryTopLeft {
  flex: 1;
  justify-content: flex-end;
  font-style: italic;
}

.workHistoryBottomContainer {
  grid-row: 4/11;
  grid-column: 2/10;
  margin: 1%;
  font-size: 0.7rem;
}

.workInput, .educationInput {
  width: 100%;
}

.jobSummary {
  width: 100%;
  height: 80%;
}

#companyTxt {
  font-weight: 600;
}

.userIcons {
  width: 1.8rem;
  height: auto;
  margin-top: 10%;
}

.editIcons {
  width: 1.4rem;
  height: auto;
  margin-top: 10%;
}

.addworkBtnContainer {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
}
.addworkBtn {
  height: 50%;
  font-weight: 800;
  background-color: var(--highlight-accent);
}

.addworkBtn:hover {
  background-color: var(--highlight-accent-alt);
}

.activePanel {
  flex-grow: 4;
  display: flex;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}


.nonActivePanel {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2%;
}

.nonactiveworkPanel, .nonactiveeducationPanel {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--border-color) ;
}

.workInfoPreviewTxt {
  width: 25%;
}

#testHistory {
  border-bottom: solid black 1px ;
}

.userHistoryHeaders {
  font-size: 1.2rem;
  justify-content: center;

}


.infoInput {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#resumeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controlsContainer {
  width: 100%;
  height: 5%;
}

#backbtn {
  background-color: rgb(201, 201, 201);
}

#backbtn:hover {
  background-color: rgb(151, 151, 151);
}

.controlsButtons {
  display: flex;
  justify-content: flex-end;
}

#resumePreviewContainer {
  min-width: 37.1875rem;
  max-width: 37.1875rem;
  height: 52.625rem;  
  border: solid black 1px;
  display: flex;
  font-family: "Roboto Slab", serif;
  color: rgba(0, 0, 0, 0.801);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#resumeMarginContainer {
  font-size: 0.75rem;
  flex: 1;
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: repeat(20,5%);

}

#resumeHeaderContainer, #resumeSummaryContainer, #resumeWorkContainer,
#resumeEducationContainer, #resumeSkillsContainer {
  grid-column: 1/6;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#resumeHeaderContainer {
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.resumeHeaders {
  font-size: 1rem;
  padding-bottom: 1%;
  border-bottom: solid black 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}



#headerName {
  font-size: 1.75rem;
  font-family: "Roboto", serif;;
}

#titleName {
  margin-bottom: 2%;
}

#contactInfo {
  width: 100%;
  gap: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.5);
}

#resumeSummaryContainer {
  grid-row: 4/7;
}

#resumeSummary {
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
  overflow-wrap: anywhere;
}

#resumeWorkContainer {
  grid-row: 7/16;
}

#resumeEducationContainer {
  grid-row: 16/19;
  font-size: 0.7rem;
}

#resumeSkillsContainer {
  grid-row: 19/21;
}


/* minimize */
@media (max-width: 1300px) {
  #resumePreviewContainer {
    width: 100%;
  };


}

/* tablet mobile */
@media (max-width: 1000px) {
  #root {
    flex-direction: column;
    height: 260vh;
  }

  #body {
    height: 260vh;
  }

  #logoContainer {
    flex: 1;
    margin-top: 20%;
    margin-right: 20%;
  }
  
  #logopng {
    height: 55%;
  }
}



