* {border: solid rgba(255, 0, 0, 0.041) 1px;}

/* global styles here */

body {
  min-height: 100vh;
  margin: 0%;
  display: flex;
  font-family:  "Merriweather", serif;;
}

:root {
  --primary-color: rgb(201, 201, 201);
  --container-color: rgba(255, 251, 251, 0.966);
  --accent-color: rgb(0, 153, 255); /*printer button */
  --background-color: #f8f9fa; 
  --field-background: #e9ecef; 
  
  --text-color: #495057; 
  --heading-color: #2d2d2d; 
  
  --primary-accent: #005f73; 
  --secondary-accent: #ffb703; 
  --highlight-accent: #ef476f; /*printer button */
  
  --border-color: #dee2e6; 

  --button-color: #06d6a0; 
  --button-hover: #05c78c; 

}


input, #experienceInput {
  background-color: var(--field-background);
  padding: 0.5rem;
  border-radius: 10px;
  border-color: var(--border-color);
}

input:focus, #experienceInput {
  outline: 1px solid var(--button-color);

}

label {
  margin-left: 0.7%;
  margin-bottom: 0.5%;
  font-family: inherit;
}

button {
  margin-top: 1%;
  background-color: var(--button-color);
  border-radius: 60%;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
};
