* {border: solid red 0px;}

/* global styles here */

body {
  min-height: 100vh;
  margin: 0%;
  display: flex;
  font-family:  "Merriweather", serif;
}

:root {
  --primary-color: rgb(201, 201, 201);
  --container-color: #f1f8ff;
  --accent-color: rgb(0, 153, 255); /*printer button */
  --background-color: #e7f3ff; 
  --field-background: #e9ecef; 
  
  --text-color: #495057; 
  --heading-color: #2d2d2d; 
  
  --primary-accent: #005f73; 
  --primary-accent-alt: #00748b; 
  --secondary-accent: #ffb703; 
  --highlight-accent: rgb(239, 71, 111); /*printer button */
  --highlight-accent-alt: rgb(255, 85, 125);
  --border-color: #dee2e6; 

  --button-color: #06d6a0; 
  --button-hover: #05c78c; 

}


@media print {
  #root {
    display: none;
  }
  #resumePreviewContainer {
    display:contents;
  }
}



input, .experienceInput , .jobSummary{
  background-color: var(--field-background);
  padding: 0.5rem;
  border-radius: 10px;
  border-color: var(--border-color);
}

input:focus, .experienceInput:focus, .jobSummary:focus {
  outline: 1px solid var(--button-color);
}

label {
  margin-left: 0.7%;
  margin-bottom: 0.5%;
  font-family: inherit;
}

button {
  margin-top: 1%;
  background-color: var(--button-color);
  border-radius: 60%;
}



#buttonalt {
  margin-top: 1%;
  background-color: var(--highlight-accent);
  border-radius: 60%;
}

#buttonalt:hover {
  background-color: var(--highlight-accent-alt);
}


button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}
