* {border: solid red 0px;}

/* global styles here */

body {
  min-height: 100vh;
  margin: 0%;
  display: flex;
  font-family:  "Merriweather", serif;;
}

:root {
  --primary-color: rgb(201, 201, 201);
  --secondary-color: rgb(0, 153, 255);
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}
